<main>
  <section>
    <div class="counter-section">
      <div *ngFor="let el of counters; let count = index;" class="counter">
        <div>counter {{count+1}}</div>
        <div class="actions">
          <button *ngIf="!isDisabled" (click)="increase(count,el.value)" class="action-button border-radius-left"><i
              class="fa-solid fa-plus"></i></button>
          <div [ngClass]="{'radius':isDisabled}" class="value">{{el.value}}</div>
          <button *ngIf="!isDisabled" (click)="decrease(count,el.value,el.isZero)"
            class="action-button border-radius-right"><i class="fa-solid fa-minus"></i></button>
        </div>
      </div>
    </div>
    <div class="button-section">
      <button class="button" (click)="add()"><span>Add</span></button>
      <button class="button" (click)="submit()"><span>Submit</span></button>
    </div>
  </section>
</main>

<app-barbara (updatedValue)="handleUpdatedValue($event)"></app-barbara>
<app-carlos [valueToUpdate]="valueToChange"></app-carlos>